# NOTE: This .gitignore file is only for the course material.
# The .gitignore file for Unity projects is MUCH larger.
# See folder 02-unity-basics, file gitignore-and-gitattributes.zip.
.idea
IGDPD*.ppt
~*
TODO.txt
*.draft.*
